<!doctype html>
<html>
  <head>
    <title>churnalism extension</title>

    <link rel="stylesheet" href="panel.css" type="text/css">
    <!-- TESTING 
    <link rel="stylesheet" href="test_panel.css" type="text/css">
    END TESTING -->

  </head>
  <body>


<script id="not-tracking-tmpl" type="text/x-jquery-tmpl">
  <p>This page has not been checked for churn.</p>
  <a class="do-lookup" href="#">Check it now</a>
</script>

<script id="please-wait-tmpl" type="text/x-jquery-tmpl">
    <p><img src="busy.gif"/> Please wait: <%= msg %></p>
</script>

<!-- main template for showing no results -->
<script id="search-no-results-tmpl" type="text/x-jquery-tmpl">
Found no press releases matching this article.
</script>

<!-- main template for showing search results -->
<script id="search-results-tmpl" type="text/x-jquery-tmpl">
    <div class="churn-alert">
    <span>Uh-oh... this article might be churnalism</span> - 
    <strong>
        <% if(associations.length==1) { %>
    1 match found
    <% } else { %>
    <%= associations.length %> matches found
    <% } %>
</strong>
<br/>
</div>
    <span class="hint">(Click to highlight matching text)</span>
<div class="results-list">
</div>
</script>

<!-- template for displaying an individual matching document -->
<script id="match-tmpl" type="text/x-jquery-tmpl">
<div class="match-item" id="<%= elementId() %>" >
  <div class="doc-details">
      <div class="highlight-icon" title="Click to highlight matching text"></div>
    <div class="highlight-group" title="Click to highlight matching text">
      <h3 class="doc-title"><%=shortTitle()%></h3>
      <span class="doc-pubdate"><%=published()%></span>
    </div>
      <div class="doc-meta">
        <a target="_blank" href="<%=permalink()%>">
            <strong><%=type()%></strong> from <span class="source"><%=source()%></span></a><br/>
      </div>
  </div>

  <div class="churn-metrics">
    <span class="rating">
      <img src="recycle-<%=(score()>0)?"on":"off"%>.png" alt="1">
      <img src="recycle-<%=(score()>1)?"on":"off"%>.png" alt="1">
      <img src="recycle-<%=(score()>2)?"on":"off"%>.png" alt="1">
    </span>
    <span class="metric"><%=cut()%>%</span> <span class="metric-label">recycled</span></br>
    <span class="metric"><%=overlap()%></span> <span class="metric-label">chars</span>
  </span>
</div>
</script>

<header>
<h1><img src="logo-text.png" /></h1>
<img class="mstlink" src="logo-mst.png" />
</header>
<div id="content">
</div>
<footer>
</footer>
<!-- TESTING
<script>
self = { port: {emit: console.log, on: console.log}};
</script>
<script src="jquery-1.7.1.min.js"></script>
<script src="underscore.js"></script>
<script src="underscore.string.js"></script>
<script src="moment.min.js"></script>

<script src="match.js"></script>
<script src="panel.js"></script>
<script src="test_panel.js"></script>
END TESTING -->
</body>
</html>

