<!doctype html>
<html>
  <head>
    <title>churnalism extension</title>

    <link rel="stylesheet" href="panel.css" type="text/css">
  </head>
  <body>


<script id="not-tracking-tmpl" type="text/x-jquery-tmpl">
  <p>This page has not been checked for churn.</p>
  <a class="do-lookup" href="#">Check it now</a>
</script>

<script id="please-wait-tmpl" type="text/x-jquery-tmpl">
    <p><img src="busy.gif"/> Please wait: <%= msg %></p>
</script>

<!-- main template for showing no results -->
<script id="search-no-results-tmpl" type="text/x-jquery-tmpl">
Found no press releases matching this article.
</script>

<!-- main template for showing search results -->
<script id="search-results-tmpl" type="text/x-jquery-tmpl">
    <p>Uhoh... this article looks like it might contain churn:</p>
<div class="results-list">
</div>

</script>

<!-- template for displaying an individual matching document -->
<script id="match-tmpl" type="text/x-jquery-tmpl">
<div class="match-item" id="<%= elementId() %>" >
  <span class="rating">
      <img src="recycle-<%=(score()>0)?"on":"off"%>.png" alt="1">
      <img src="recycle-<%=(score()>1)?"on":"off"%>.png" alt="1">
      <img src="recycle-<%=(score()>2)?"on":"off"%>.png" alt="1">
  </span>
  <span class="pr-title"> 
      <a class="title" target="_blank" href="<%=permalink()%>"><%=shortTitle()%></a><br/>
      <%=type()%> from <span class="source"><%=source()%></span></br>
      <span class="published"><%=published()%></span>
  </span>
  <span class="reuse-metric">
      <span class="metric"><%=cut()%>%</span> <span class="metric-label">recycled</span></br>
      <span class="metric"><%=overlap()%></span> <span class="metric-label">chars</span>
  </span>
  <a class="no-highlight" href="#">X</a>
</div>
</script>

<header>
<h1>Churnalism info</h1>
</header>
<div id="content">
</div>
<footer>
</footer>
</body>
</html>

